<nav class="main-nav">
    {% if page.url != "/index.html" %}
        <a href="{{ site.baseurl }}"> <span class="arrow">←</span> Home </a>
    {% endif %}

    {% if page.url != "/about/" %}
        {% if site.aboutPage %}
            <a href="{{ site.baseurl }}about">About </a>
        {% endif %}
    {% endif %}
    <a href="https://github.com/MadcapJake">GitHub</a>
    <a href="https://bitbucket.org/MadcapJake/">Bitbucket</a>
    <a href="https://www.linkedin.com/in/russojt">LinkedIn</a>
    <a href="https://twitter.com/MadcapJake">Twitter</a>
    <a href="https://plus.google.com/u/0/+JakeRusso/posts">G+</a>
    <a class="cta" href="{{ site.baseurl }}feed.xml">Subscribe</a>
</nav>
